/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #f4f5f6;
    color: #000;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: underline;
    color: #3f7bb3;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 20px 0;
}
.wrapper {
    background: #fff;
    border: 1px solid #dfe3e3;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    max-width: 550px;
}
.header {
    background: #f6f6f6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "PT Sans";
    margin: -20px -20px 20px -20px;
    padding: 20px;
    overflow: hidden;
    line-height: 1;
    position: relative;
}
.header-name {
    float: left;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
.header-name span {
    color: #999;
    font-size: 16px;
    font-weight: normal;
}
.header-desc {
    float: right;
    color: #999;
    font-size: 16px;
}
.header-desc span {
    font-size: 22px;
    font-weight: bold;
}

.block-info {
    margin: 0 0 20px 0;
}
.block-info ul {
    padding-left: 0;
    list-style: none;
}
.block-info ul li {
    padding: 5px;
}
.block-info ul li:target {
   background: #ffb;
}
.block-info ul li:target a {
   color: #000;
}
.block-info ul ul {
    margin-top: 5px;
    margin-left: 10px;
    list-style: none;
    padding-left: 0;
}
.block-info ul ul li {
    padding: 0;
}
.block-info td {
    padding: 10px;
}
.block-info span {
    color: #999;
}
.block-info p {
    margin-left: 10px;
}
.block-info .light-line {
    margin-bottom: 10px;
}
.social-block {
    max-width: 260px;
}
.social-link {
    display: inline-block;
    background: #ccc;
    color: #fff !important;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 2px 1px 2px 0;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}
.social-link__vk { background: #41658b; }
.social-link__tw { background: #00abf0; }
.social-link__mm { background: #333; }
.social-link__gp { background: #be3308; }
.social-link__yt { background: #cc181e; }
.social-link__fb { background: #39579a; }
.social-link__sp { background: #5EB5DD; }
.social-link__gh { background: #202020; }
.social-link__bb { background: #205081; }
.social-link__wp { background: #23282d; }
.social-link__so { background: #f90; }
.social-link__ig { background: #47769C; }
.social-link__li { background: #1884BC; }
.social-link__tg { background: #5682a3; }
.social-link__ad { background: #B3C833; }
.social-link__cp { background: #1D1D1D; }
.social-link__fs { background: #0732A2; }

.block-info-title {
    border-bottom: 1px solid #dfe3e3;
    font-size: 18px;
    font-weight: bold;
    font-family: "PT Sans";
    margin: 0 0 10px 0;
}

.block-info-title span {
    color: #999;
    font-size: 14px;
}

.gray {
    color: #999;
}





@media only screen and (max-width: 590px) {
    .wrapper {
        border: 0;
        margin: 0;
        padding: 20px;
    }
    .header-name,
    .header-desc {
        float: none;
    }
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
