* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', arial, sans-serif;
  font-family: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
  cursor: default;
}

a {
  color: inherit;
}

._dn {
  display: none !important;
}